.membership {
  background-color: #222;
  padding: 25px;
  border-radius: 25px;
  border: 1px solid #ed7e36;
  &__title {
    margin-top: 0px;
    font-size: 25px;
    text-align: center;
  }

  &__tiers {
    display: flex;
    align-items: end;
    width: 100%;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.04);
    height: 50px;
  }

  &__tier {
    width: 50%;
    text-align: center;
    border-bottom: 2px solid rgba(139, 192, 189, 0.4);
    padding-bottom: 10px;
    color: #ed7e36;
    font-weight: bold;
    font-size: 1.3em;
  }

  &__selected-tier {
    text-align: center;
    border-bottom: 2px solid rgba(139, 192, 189, 1);
    padding-bottom: 10px;
  }
}

.membership-tier {
  padding-right: 25px;
  box-sizing: border-box;
  width: 50%;
  font-size: 1.1em;

  &__ctn {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 30px;
    padding-top: 5;
  }

  &__image {
    width: 50%;
    display: flex;
    flex-direction: column;
    img {
      max-width: 100%;
      align-self: baseline;
      margin-bottom: 25px;
    }
  }

  &__benefits {
    color: #ed7e36;
    font-size: 1.2em;
    margin-bottom: 0px;
  }

  &__list {
    list-style-type: circle;
    padding-left: 20px;
  }

  &__title {
    margin-top: 10px;
    font-size: xx-large;
    color: #ed7e36;
  }

  &__description {
    margin-top: 0px;
    margin-bottom: 35px;
    // styles for the tier description
  }

  &__price-panel {
    background: rgba(255, 255, 255, 0.1);
    padding: 15px;
    box-sizing: border-box;
  }
  &__price-panel-text {
    font-size: 15px;
    font-weight: normal;
    opacity: 0.6;
    margin: 0px;
  }

  &__price {
    gap: 5px;
    display: flex;
    align-items: center;

    margin: 0px;
  }

  &__price-text {
    font-weight: 700;
    margin: 0px;
  }
}
