.membership {
  &__title {
    // styles for the membership title
    margin-top: 80px;
    font-size: 25px;
  }

  &__tiers {
    display: flex;
    align-items: end;
    width: 100%;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.04);
    height: 50px;
  }

  &__tier {
    width: 50%;
    text-align: center;
    border-bottom: 2px solid rgba(139, 192, 189, 0.4);
    padding-bottom: 10px;
  }

  &__selected-tier {
    width: 50%;
    text-align: center;
    border-bottom: 2px solid rgba(139, 192, 189, 1);
    padding-bottom: 10px;
  }
}

.membership-tier-ctn {
  margin-top: 30px;
  padding-top: 5;
}

.membership-tier {
  padding-right: 10%;
  max-width: 60%;
  box-sizing: border-box;

  &__benefits {
    color: #ed7e36;
    font-size: 1.2em;
    margin-bottom: 0px;
  }

  &__list {
    list-style-type: circle;
    padding-left: 20px;
  }

  &__title {
    margin-top: 10px;
    font-size: xx-large;
    color: #ed7e36;
  }

  &__description {
    // styles for the tier description
  }

  &__price-panel {
    background: rgba(255, 255, 255, 0.1);
    padding: 15px;
    box-sizing: border-box;
  }
  &__price-panel-text {
    font-size: 15px;
    font-weight: normal;
    opacity: 0.6;
    margin: 0px;
  }

  &__price {
    gap: 5px;
    display: flex;
    align-items: center;

    margin: 0px;
  }

  &__price-text {
    font-weight: 700;
    margin: 0px;
  }
}
