.page-header {
  &__logo {
    max-width: 300px;
  }
  &__title {
    margin-top: 0px;
    color: #ed7e36;
      // styles for the title
  }

  &__subtitle {
    color: #ed7e36;
      // styles for the subtitle
  }

  &__intro {
      // styles for the intro paragraph
  }
}